# --- Dependencies & Build ---
node_modules/
dist/
coverage/
packages/shared/lib/
web/dist/
functions/lib/
functions/*.tgz
functions/package-lock.json
*.tsbuildinfo

# --- Logs ---
*.log

# --- OS Files ---
.DS_Store

# --- Firebase CLI ---
.firebase/

# --- Environment Files ---
.env.development
.env*.local
.env
