# --- Dependencies & Build ---
node_modules/
dist/
coverage/
packages/shared/lib/
web/dist/
functions/lib/
functions/*.tgz
*.tsbuildinfo

# --- Logs ---
*.log

# --- OS Files ---
.DS_Store

# --- Firebase CLI ---
.firebase/
